#container{
    width: 980px;
    height: 800px;
    background-color: gray;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header{
    width: 980px;
    height: 80px;
    background-color: #0AB4B4;
}
.header img{
    width: 50px;
    height: 50px;
    margin: 15px 10px 0px 15px;
    display: inline-block;
}
.header h1{
    display: inline-block;
    vertical-align: top;
    font-size: 35px;
    padding-top: 22px;
}
.header ul{
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
    padding-left: 120px;
}
.header li{
    display: inline;
    font-size: 15px;
    margin: 0px 5px;
}
.header a{
    color: white;
}
.main{
    width: 960px;
    height: 600px;
    background-color: #FFF2A6;
    margin-top: 10px;
    padding: 10px;
}
.main-left{
    width: 200px;
    height: 570px;
    background-color: #00282B;
    color: #DFDFDF;
    padding: 15px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.main-left h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.main-left p{
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 10px;
}
.main-right{
    width: 680px;
    height: 600px;
    display: inline-block;
    padding-left: 10px;
    color: #DFDFDF;
}
.main-right a{
    color: #00757E;
}
.main-right h1{
    font-size: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
}
.main-right p{
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
    padding-left: 10px;
}
.square{
    width: 200px;
    height: 200px;
    background-color: #00282B;
    display: inline-block;
    margin: 0px 11px 11px 11px;
    vertical-align: top;
}
#four{
    width: 308px;
    height: 180px;
    background-color: #00282B;
    display: inline-block;
    margin: 15px 15px 15px 12px;
    vertical-align: top;
}
#five{
    width: 308px;
    height: 180px;
    background-color: #00282B;
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}
#six{
    width: 652px;
    height: 163px;
    background-color: #00282B;
    margin-top: 15px;
    margin-left: 12px;
}
.footer{
    width: 980px;
    height: 80px;
    background-color: #0AB4B4;
    margin-top: 10px;
}
.footer p{
    text-align: center;
    font-size: 12px;
    padding-top: 30px;
}